<PageTitle>About me</PageTitle>

<div class="window glass float-start me-3 mb-2" style="margin-top: calc((-250px - 12px) / 2)">
    <img
        style="width: 250px; height: 250px; margin: 6px; border-radius: 6px;"
        src="content/profile.jpeg"
        alt="profile">
</div>

<p>
    Hi, I'm <b>Mircea-Costin Hălălai</b>, a software engineer based in <b>Bucharest, Romania</b> with a background in
    .NET Fullstack and Android. I have a bachelor in Computers and Information Technology from the University of
    Bucharest, and I love making tools and applications that people find useful.
</p>

<h3>What made you choose this website design?</h3>
<p>
    For my personal projects I like coming up with wild and unique ideas. One day I stumbled upon
    <a href="https://jdan.github.io/98.css" target="_blank">98.css</a> and
    <a href="https://khang-nd.github.io/7.css" target="_blank">7.css</a>
    stylesheet libraries and bookmarked them as the idea of making a modern app look like the good ol' days from my
    childhood was really appealing. Half a year later, when I became more conscious about my career, I decided to make a
    portfolio site based on 7.css, shooting two birds with one stone by using Blazor WebAssembly - a tech I had been
    eager to tryout in the past.
</p>
<br>
<h3>My interests and hobbies</h3>
<p>
    Besides coding and keeping up with software technologies, in my free time I like to <i>pwn noobs</i> in competitive
    eSports games with my friends group. Online shooters are my primary choice. When we get bored of that, we start up
    our flavour-of-the-month party/co-op game. During these sessions, a little troll doesn't hurt. Other times I like to
    immerse myself in cinematic, story driven games. I also have a few Real-time-strategy games under my belt.
</p>
<p>
    And when the planets align, I throw LAN parties with my friends so we can frag each other face to face.
    Trash talking just feels different IRL.
</p>
<div class="d-flex flex-wrap gap-2">
    @foreach (var url in imageUrls)
    {
        <img src="content/@url" alt="" style="height: 200px; border-radius: 6px">
    }
</div>

@code {
    private readonly string[] imageUrls = ["lan_day.jpg", "lan_night.jpg"];
}
