.window {
  --w7-w-grad: initial;
  display: flex;
  flex-direction: column;
}
.window .window-body {
  height: 100%;
  overflow: auto;
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-row-gap: 0.5rem;
}
.custom-grid .title-bar-text {
  grid-column: 1/2;
  grid-row: 1;
  user-select: none;
}
.custom-grid .title-bar-controls {
  grid-column: 2/3;
  grid-row: 1;
}
.custom-grid .title-bar-extra {
  grid-column: span 3;
  grid-row: 2;
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.custom-grid .title-bar-extra button, .custom-grid .title-bar-extra button::before, .custom-grid .title-bar-extra button::after {
  width: 26px;
  height: 26px;
  min-width: 26px;
  max-width: 26px;
  padding: 0;
  border-radius: 50%;
  user-select: none;
}
.custom-grid .title-bar-extra input {
  height: 24px;
  padding: 4px;
}

.image-container {
  position: relative; /* allows absolute positioning inside */
  background: url("img/vista-login.png") no-repeat center/cover;
  width: 100%;
  height: 200px;
}
.image-container .text-overlay {
  user-select: none;
  position: absolute;
  bottom: 0;
  right: 6px;
  color: rgba(212, 212, 212, 0.5);
  font-size: 64px;
}

.link-button {
  box-shadow: initial;
  background: none;
  border: 1px solid transparent !important;
  font-size: 16px;
  padding: 6px;
}
.link-button:hover {
  border: 1px solid deepskyblue !important;
  text-decoration: underline;
}
.link-button img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}