.window {
  --w7-w-grad: initial;
  display: flex;
  flex-direction: column;

  .window-body {
    height: 100%;
    overflow: auto;
  }
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-row-gap: 0.5rem;

  .title-bar-text {
    grid-column: 1 / 2;
    grid-row: 1;
    user-select: none;
  }

  .title-bar-controls {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .title-bar-extra {
    grid-column: span 3;
    grid-row: 2;
    font-size: 0.8rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    button, button::before, button::after {
      $btn-size: 26px;
      width: $btn-size;
      height: $btn-size;
      min-width: $btn-size;
      max-width: $btn-size;
      padding: 0;
      border-radius: 50%;
      user-select: none;
    }

    input {
      height: 24px;
      padding: 4px;
    }
  }
}

$bannerHeight: 200px;

.image-container {
  position: relative; /* allows absolute positioning inside */
  background: url("img/vista-login.png") no-repeat center / cover;
  width: 100%;
  height: $bannerHeight;

  display: flex;
  align-items: center;

  .text-overlay {
    user-select: none;
    position: absolute;
    bottom: 0;
    right: 6px;
    color: rgba(212, 212, 212, 50%);
    font-size: 64px;
  }
  
  p {
    font-size: medium;
    color: white;
    text-shadow: black 2px 2px 6px;
  }
  
  img {
    height: 65%;
    margin: 0 16px 0 16px;
  }
}

.link-button {
  box-shadow: initial;
  background: none;
  border: 1px solid transparent !important;
  font-size: 16px;
  padding: 6px;

  &:hover {
    border: 1px solid deepskyblue !important;
    text-decoration: underline;
  }

  img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}
