@page "/"
@using System.Globalization

<PageTitle>Portfolio</PageTitle>

<div class="window glass active" @ref="windowRef" style="@windowStyle.ToString()">
    <div class="title-bar custom-grid">
        <div class="title-bar-text">Welcome Center</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize" @onclick="ToggleWindowMaximize"></button>
            <button aria-label="Close" disabled></button>
        </div>
        <div class="title-bar-extra">
            <button disabled="@IsRootPage" @onclick="() => ShowContent(null)">◀</button>
            <button disabled>▶</button>
            <input class="flex-grow-1" type="text"
                   value="▶ Control Panel ▶ Welcome Center @(IsRootPage ? "" : "▶ " + currentContent?.GetFriendlyName())" readonly>
            <input type="search" placeholder="Search">
        </div>
    </div>
    <div class="window-body has-scrollbar">
        <div class="image-container">
            <span class="text-overlay">@(currentContent?.GetFriendlyName().ToLower() ?? "welcome")</span>
        </div>
        <div class="p-2">
            @switch (currentContent)
            {
                case Pages.AboutMe:
                    <AboutMe />
                    break;
                case Pages.MyGithub:
                    <p>Check out my <a href="https://github.com/HalalaiMircea" target="_blank">GitHub profile</a>.</p>
                    break;
                case Pages.MyWork:
                    <p>Here’s some of my work: projects, apps, and experiments 🚀</p>
                    break;
                default:
                    <div class="d-flex flex-wrap gap-4">
                        <button class="link-button" @onclick='() => ShowContent(Pages.AboutMe)'>
                            <img src="img/icon-userfolder.png" alt="" />About me
                        </button>
                        <button class="link-button" @onclick='() => ShowContent(Pages.MyGithub)'>
                            <img src="img/github-mark.svg" alt="" />My Github
                        </button>
                        <button class="link-button" @onclick='() => ShowContent(Pages.MyWork)'>
                            <img src="img/Icon-CMD.png" alt="" />My work
                        </button>
                    </div>
                    break;
            }
        </div>
    </div>
</div>

@implements IDisposable
@inject IJSRuntime JS

@code {
    private ElementReference windowRef;
    private IJSInProcessObjectReference module = null!;
    private DotNetObjectReference<Home>? dotNetObject;

    private Pages? currentContent;
    private bool IsRootPage => currentContent == null;

    [JSInvokable]
    public WindowState GetWindowState() => windowState;
    private WindowState _windowState = WindowState.Restored;
    private WindowState windowState
    {
        get => _windowState;
        set
        {
            _windowState = value;
            if (value == WindowState.Maximized)
            {
                lastWindowStyle = BoxStyle.FromDomApi(module, windowRef);
                windowStyle = new BoxStyle {Top = "0", Left = "0", Width = "100vw", Height = "100vh"};
            }
            else if (value == WindowState.Restored)
            {
                windowStyle = lastWindowStyle!;
            }
        }
    }

    private BoxStyle? lastWindowStyle;
    private BoxStyle windowStyle = new() {Top = "20px", Left = "20px", Width = "960px", Height = "960px"};

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = (IJSInProcessObjectReference) await JS.ImportScopedModule<Home>();
            dotNetObject = DotNetObjectReference.Create(this);
            module.InvokeVoid("registerDotNetHelper", dotNetObject);
            await module.InvokeVoidAsync("makeWindowDraggable", windowRef);
        }
    }

    public void Dispose()
    {
        dotNetObject?.Dispose();
    }

    private void ShowContent(Pages? content)
    {
        currentContent = content;
    }

    private void ToggleWindowMaximize()
    {
        windowState = windowState switch
        {
            WindowState.Restored => WindowState.Maximized,
            WindowState.Maximized => WindowState.Restored,
            _ => windowState
        };
    }
    
    private enum Pages
    {
        [FriendlyName("About me")]
        AboutMe,

        [FriendlyName("My Github")]
        MyGithub,

        [FriendlyName("My work")]
        MyWork
    }

    public enum WindowState
    {
        Minimized = 0, Maximized = 1, Restored = 2
    }

    public class BoxStyle
    {
        public string? Top { get; set; }
        public string? Left { get; set; }
        public string? Width { get; set; }
        public string? Height { get; set; }

        public static BoxStyle FromDomApi(IJSInProcessObjectReference js, ElementReference elRef)
        {
            var rect = js.Invoke<DomRect>("getRectForEl", elRef);
            var ivc = CultureInfo.InvariantCulture;
            return new BoxStyle
            {
                Top = rect.Top.ToString(ivc) + "px",
                Left = rect.Left.ToString(ivc) + "px",
                Width = rect.Width.ToString(ivc) + "px",
                Height = rect.Height.ToString(ivc) + "px"
            };
        }

        public override string ToString() => $"top:{Top}; left:{Left}; width:{Width}; height:{Height};";

        public BoxStyle Clone() => new()
        {
            Top = this.Top,
            Left = this.Left,
            Width = this.Width,
            Height = this.Height
        };

        private record DomRect(
            double Top,
            double Left,
            double Width,
            double Height
        );
    }
}
