nav {
  width: 250px;
  background: linear-gradient(to bottom, #0163AB 0%, #008fb8 40%, #8cd1ad 100%);
}

nav {
  font-size: 15px;
  color: ghostwhite;
}
nav a, nav a:hover, nav a:focus {
  color: ghostwhite;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav li {
  list-style-type: none;
}
nav li.active {
  list-style-type: disc;
  font-weight: bold;
}
nav li.active::marker {
  color: ghostwhite;
}

article > * {
  flex-shrink: 0;
}
article a[role=button] {
  height: 32px;
  width: fit-content;
  padding: 0.2em 0.5em;
}
article a[role=button] img {
  height: 100%;
}